<!-- <h1>hello {{name}}</h1>

<ul>
  <li *ngFor="let x of persons">
    {{x}}
  </li>

</ul>

<h1>{{phonenumber}}</h1>

<div *ngIf="name=='saquib'; then doaction else dontaction"></div>
<ng-template #doaction>
  <h1>Welcome {{name}}</h1>
</ng-template>
<ng-template #dontaction>
  <h1>Invalid name</h1>
</ng-template>

<div *ngFor="let per of persons">
  <div *ngIf="per=='saquib';else mycode">
    Hello saquib
  </div>
</div>
<ng-template #mycode>
  Not saquib
</ng-template> -->
<!-- <input type="button" [value]="buttonname" (click)="myfunc()" />

<input type="text" [(ngModel)]="mystatus" />
{{mystatus}}

<span [ngStyle]="{'color':mystatus=='saquib'?'red':null}">This is my status</span>

<div *ngFor="let x of persons" [ngStyle]="{'backgroundColor':x.status=='fail'?'red':'green'}">
  {{x.name}}
  {{x.status}}
</div>
<span [ngClass]="{'myclass':mynewstatus=='saquib'?true:false}">This is my class tag</span> -->

<!-- <h1>App component</h1>

<app-home [getdata]="listofdatapersons" (emitdata)="getdatafromchild($event)"></app-home>
<app-about></app-about>
<app-contact></app-contact>

This is data from home

{{displaydata}}
<H1>{{Firstname|uppercase|reverse}}</H1>

<h1>{{price|currency:"INR"}}</h1>

<h1>{{date|date:"medium"}}</h1> -->

<div class="container">
  <div class="row p-4">
    <div class="col-md-12">
      <div class="btn-group">
        <a routerLink="Home" class="btn btn-outline-danger" href="">Home</a>
        <a routerLink="About" class="btn btn-outline-danger" href="">About</a>
        <a routerLink="Contact" class="btn btn-outline-danger" href="">Contact</a>
        <a routerLink="viewuser/21" class="btn btn-outline-danger">Viewuser</a>
        <a routerLink="form" class="btn btn-outline-danger" href="">Form</a>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>